body{
	//background-color: #606060;
}
.layout{
	width: 900px;
	margin:0 auto;
	//background-color: red;
}
/*顶部开始*/
.top{
	width:100%;
	height:50px;
	background-color: #17a2b8;
	position: relative;
}
.themo{
	height: 50px;
	width: 500px;
	margin-left: 200px;
	position:absolute;
	left:0;
	text-align:center;
	color: #fff;
}
.themo-ul > li{
	line-height: 50px;
	float: left;
	margin-left: 20px;
}
.themo-ul li:nth-child(1) > span{
	color: skyblue;
}
.themo-ul li:nth-child(2) > span{
	color: #200000;
}
.themo-ul li:nth-child(3) > span{
	color: #888888;
}


.user{
	color: black;
	position:absolute;
	top: 5px;
	right: 20px;
}
.user-img{
	border-radius: 26px;
	width: 35px;
	height:35px;
}
.user > button{
	margin-left: 30px;
}
/*顶部结束*/
/*头部开始*/
.head{
	width: 100%;
	height: 60px;
	
}
.head > div{
	height: 30px;
	position: relative;
	top: 15px;
}
.head-nav > a {
	font-size: 20px;
	margin: 0 65px 0 65px;
	text-decoration: none;
}
/*头部结束*/
/*内容区开始*/
.main{
	width: 100%;
	height:500px;
	
}
.main-body{
	height:100%;
	background-color: yellow;
}
.main-body-top{
	height: 35px;
	font-size: 12px;
}
.main-body-top ul > li:nth-child(1){
	float: left;
}
.main-body-top ul > li:nth-child(2){
	float: right;
	line-height: 35px;
}
.main-body-content{
	width: 700px;
	height: 300px;
	margin: 0 auto;
	background-color: skyblue;
	word-wrap: break-word;
}
.main-body-content > img{
	width:100%;
	height:100%;
}
/*内容区结束*/
/*
	底部开始
*/
.bottom{
	margin-top: 10px;
	height: 140px;

}
.bottom > ul{
	position:relative;
	top: 20px;
	padding: 0;
}
.bottom-ul >li{
	width: 100px;
	height: 100px;
	float: left;
	margin-left: 60px;
	text-align: center;
	transition:box-shadow .8s ease-in-out;
}
.bottom-ul >li:hover{
	box-shadow: 10px 10px 10px #88888888;
	border: 1px solid skyblue;
}
.bottom-ul li > span{
	font-size: 20px;
	line-height: 100px;
}
.bottom-ul >li:first-child{
	margin-left: 0;
}
/*
	底部结束
*/