body{
	background-color: #f3f3f3;
}
.text-f{
	color: #fff;
}
.theme{
	transition: all 1.5s linear;
}
.layout{
	width: 800px;
	margin:0 auto;
	//background-color: red;
}
/*顶部开始*/
.top{
	width:100%;
	height:50px;
	background-color: #868e96;
	overflow: hidden;
	position: sticky;
    top: 0;
}
.themo{
	height: 50px;
	width: 500px;
	margin-left: 200px;
	position:absolute;
	left:0;
	text-align:center;
	//color: #fff;
}
.themo-ul > li{
	line-height: 50px;
	float: left;
	margin-left: 20px;
	cursor: pointer;
	
}
.user{
	position:absolute;
	top: 5px;
	right: 0;
}
.main-user-img{
	width: 30px;
	height:30px;
	border-radius: 20px;

}
.user-img{
	border-radius: 5px;
	width: 35px;
	height:35px;
	margin-left:10px;
	margin-right:10px;
}
.btn > a{
	text-decoration:none;color: #fff;
	
}
/*顶部结束*/
/*头部开始*/
.head{
	width: 100%;
	height: 60px;
	
}
.head > div{
	height: 30px;
	position: relative;
	top: 15px;
}
.head-nav > a {
	font-size: 19px;
	margin: 0 65px 0 65px;
	text-decoration: none;
	color:black;
}
/*头部结束*/


/*内容区开始*/
.main-body{
	height: auto;
	margin-bottom: 10px;
	border: 1px solid #e8e8e8;
	background-color: #fff;
}
.main-body-top{
	height: 40px;
	max-height:40px;
	font-size: 12px;
	border-bottom: 1px solid #e8e8e8;
	padding-top: 5px;
	padding-bottom:5px;
	overflow: hidden;
}
.main-body-top ul > li:nth-child(1){
	float: left;
}
.main-body-top ul > li:nth-child(2){
	float: right;
	line-height: 28px;
}
.main-body-top ul > li:nth-child(1) > span{
	margin-left: 10px;
}
.main-body-content{
	width: 80%;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}
.m-b-c-text{
	font-size: 17px;
	max-width:100%;
	word-wrap: break-word;
	line-height: 25px;
	//margin-left: 40px;
}
.m-b-c-img{
	max-height: 800px;
}
.m-b-c-img > a > img{
	width: 80%;
	height: auto;
	margin-top: 15px;
	margin-bottom: 20px;

}
.m-b-b{
	height: 25px;
	width: 100%;
}
.m-b-b ul {
	margin-left: 50px;
}
.m-b-b ul >li{
	font-size: 20px;
	float: left;
	margin-left: 30px;
	cursor: pointer;
}

/*内容区结束*/
/*
	底部开始
*/
.bottom{
	margin-top: 10px;
	height: 140px;
	//color: #fff;
}
.bottom > ul{
	position:relative;
	top: 20px;
	padding: 0;
}
.bottom-ul >li{
	width: 100px;
	height: 100px;
	float: left;
	margin-left: 40px;
	margin-right: 40px;
	text-align: center;
	transition:box-shadow .8s ease-in-out;
	//color: $fff;
}
.bottom-ul >li:hover{
	box-shadow: 10px 10px 10px #88888888;
	border: 1px solid skyblue;
}
.bottom-ul li > span{
	font-size: 20px;
	line-height: 100px;
}

/*
	底部结束
*/